<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Calculator </title>
</head>
<body>

<div layout:fragment="content" class="mySpace col-12 col-lg-10">

    <div class=" pt-3 pb-2 naglowek">
        <h2><i>Kalkulatory</i></h2>
    </div>

    <div class="col-12">
        <div class="row">
            <div class=" selceted col-12 col-md-6 col-lg-4 ">
                <a class="nav-link nav-style" href="/cal-bmi">   <img class=" img-fluid" th:src="@{/css/img/iconscalculator/BMI.png}"/> </a>
            </div>
            <div class="selceted col-12 col-md-6 col-lg-4 ">
                <a class="nav-link nav-style" href="/cal-bf">    <img  class=" img-fluid" th:src="@{/css/img/iconscalculator/BF.png}"/></a>
            </div>
            <div class="selceted col-12 col-md-6 col-lg-4 ">
                <a class="nav-link nav-style" href="/cal-bmr">    <img  class=" img-fluid" th:src="@{/css/img/iconscalculator/BMR.png}"/></a>
            </div>
            <div class="selceted col-12 col-md-6 -6 col-lg-4 ">
                <a class="nav-link nav-style" href="/cal-whr">    <img  class=" img-fluid" th:src="@{/css/img/iconscalculator/WHR.png}"/></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>