<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Register Form</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace col-12 col-lg-10">


    <div class="col-lg-12 row positioning">
        <div id="registration" class="col-12  col-sm-10 col-md-8 col-lg-7 ">

            <div class="connectfb">Połącz Sport Assistent z kontem Facebook
            <a href="/"><img class="rounded mx-auto d-block" th:src="${userimg}" ></a>
                <div class="message">  <td th:text="${fuser_name}">&nbsp;&nbsp;</td>  <td th:text="${fsurname}"></td> </div>
            <p>To Twoje pierwsze logowanie przez Facebooka - połącz swój profil FB z kontem na Sport Assistent</p></div>

            <form th:action="@{/facebookconnect}" th:object="${userfb}" method="post">

                <div class="form-group row">
                    <label for="password"
                           class="col-sm-2 pr-0 pl-0 text-center col-form-label col-form-label">Hasło: </label>
                    <div class="col-sm-10 cl-input">
                        <input type="password" class="form-control form-text " th:field="*{password}" id="password">

                        <div class="text col-sm-12 error" th:if="${frowne}">
                            <p class="text text-center">
                                Proszę powtórzyć prawidłowo hasło.
                            </p>
                        </div>
                        <div class="text col-sm-12 error" th:if="${fpuste}">
                        <p class="text text-center">
                            To pole jest wymagane
                        </p>
                    </div>
                        <div class="text col-sm-12 error" th:if="${fdlugosc}">
                            <p class="text text-center">
                                Hasło powinno zawierać minimum 4 znaki
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="repassword" class="col-sm-2 pr-0 pl-0 text-center col-form-label col-form-label">Powtórz
                        Hasło: </label>
                    <div class="col-sm-10 cl-input">
                        <input type="password" class="form-control form-text " th:field="*{repassword}"
                               id="repassword">

                        <div class="text col-sm-12 error" th:if="${frowne}">
                            <p class="text text-center">
                                Proszę powtórzyć prawidłowo hasło.
                            </p>
                        </div>
                        <div class="text col-sm-12 error" th:if="${fpuste}">
                            <p class="text text-center">
                                To pole jest wymagane
                            </p>
                        </div>
                        <div class="text col-sm-12 error" th:if="${fdlugosc}">
                            <p class="text text-center">
                                Hasło powinno zawierać minimum 4 znaki
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 ">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <input type="submit" value="Połącz konta" class=" col-lg-10 btn btn-primary"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-5 well  ">
            <h2 class="text-center">TWOJA DROGA DO SUKCESU </h2>
            <div class="well" id="register-form">
                <div id="auth_form_panel_right">
                    <h3 class="text-center">Wybrane korzyści:</h3>
                    <ul>
                        <li>Odpowiednio podasowania dieta</li>
                        <li>Trening dopasowany do celu</li>
                        <li>Monitoring swoich postępów</li>
                    </ul>
                    <h3 class="text-center">Wybrane funkcje:</h3>
                    <ul>
                        <li>zaplanuj swoj trening</li>
                        <li>zarządzaj aktywnościami sportowymi</li>
                        <li>wsparcie (plany treningowe, porady)</li>
                        <li>... i wiele innych</li>
                    </ul>
                    <h4>Zarejestruj się w serwisie już teraz !</h4>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>